<nav class="navbar navbar-expand-lg navbar-light" style="background-color:#297373">
    <a class="navbar-brand" href="/"><img src="https://cdn.pixabay.com/photo/2020/04/14/18/55/market-5043905_960_720.png" alt="" width="70px" height="70px" style="border-radius: 0%" > </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

        </ul>
        <div class="form-inline my-2 my-lg-0">
            <a href="{{ path('markets') }}" class="btn btn-light border mx-2">Trouver un marché</a>

            {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')  %}
                <div class="dropdown">
                    <button class="btn yellow-bg dropdown-toggle px-2" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {% if is_granted('ROLE_ADMIN') %}
                            Administration

                            {% elseif  is_granted('ROLE_USER') %}
                            Mon compte
                        {% endif %}
                    </button>

                    <div class="dropdown-menu">
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER')  %}
                            <p class="dropdown-item text-primary">{{ app.user.username }}</p>
                        {% endif %}

                        {% if is_granted('ROLE_ADMIN') %}
                            <a class="dropdown-item"  href=" {{ path('dashboard') }}">Espace admin</a>
                            <a class="dropdown-item" href="{{ path('updateObject', {"name":'informations','id':app.user.id }) }}">Mes informations</a>
                            <a class="dropdown-item font-weight-bold" href=" {{ path('app_logout') }}">Déconnexion</a>


                        {% elseif  is_granted('ROLE_USER') %}
                            <a class="dropdown-item" href="{{ path('updateObject', {"name":'informations','id':app.user.id }) }}">Mes informations</a>
                            <a class="dropdown-item font-weight-bold" href=" {{ path('app_logout') }}">Déconnexion</a>

                        {% endif %}

                    </div>
                </div>

            {% else %}
                <a href="{{ path('registration') }}" class="btn yellow-bg mx-2 ">Nous rejoindre</a>
                <a href="{{ path('app_login') }}" class="btn yellow-bg mx-2 ">Se connecter</a>
            {% endif %}

        </div>
    </div>
</nav>