{%  extends "pages/public/base.html.twig"  %}

{%  block body   %}
    <div class="headerHome"></div>
    <p class="prata titleHome mt-4 ">Les marchés d'à côté</p>


    <p class="titles mt-5 ">Rechercher un marché près de chez vous</p>
    <div class="mt-3 p-2 border rounded ">
        {{ form_start(searchMarketForm , {'attr': {'class': ' row align-items-center justify-content-between'  }}) }}

        <div class="d-flex col-12">
            <div class="form-group col">
                <p class="fontSizeSearchForm">Quelle ville ?</p>
                {{ form_widget(searchMarketForm.city) }}
            </div>

            <div class="form-button col ">
                <p class="fontSizeSearchForm">Quels jour(s) ?</p>
                {{ form_widget(searchMarketForm.day ) }}
            </div>
        </div>

        <div class="col-12 form-group pt-2 ">
            {{ form_widget(searchMarketForm.rechercher , {'attr': {'class': 'w-100 py-3 '  }}) }}
        </div>

        {{ form_end(searchMarketForm) }}
    </div>

    <p class="col-md-12 titles mt-5">Les derniers marchés renseignés</p>
    <div class="row d-flex justify-content-center">
        <div class=" w-100">
            <div class="d-flex justify-content-between mt-3">

                {%  for market in markets %}
                    <div class="card justify-content-between mx-4" style="width: 20rem;">
                        <img class="card-img-top" src="https://storage.needpix.com/rsynced_images/fruit-2954698_1280.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h6><a  href="{{ path('market',{id: market.id}) }}" class="card-title text-dark font-weight-bold"> {{ market.name}}</a></h6>
                            <p class="card-text"> à   {{ market.city }} </p>
                        </div>
                    </div>
                {%  endfor %}
            </div>

            <div class="row d-flex justify-content-end">
                <div class="btn align-self-end"><a class="" href="{{ path('registration') }}">Ajouter un marché </a> </div>
            </div>
        </div>
    </div>

    <p class="col-md-12 titles"> A propos  </p>

        <p class="justifyText">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed a viverra mi. Duis sed dolor turpis. Sed vitae lorem consectetur nisi elementum suscipit ut at lectus. Nam aliquet pretium est, a porta mi. Ut vel mi magna. Duis egestas faucibus vulputate. Maecenas dignissim nibh eu turpis pharetra, et tincidunt lectus auctor. Nulla eu ultrices dolor, quis sagittis lorem. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed fermentum maximus
        </p>

        <div class="row justify-content-end">
            <a class="btn yellow-bg " href="{{ path('about') }}"> En savoir plus</a>
        </div>

{%  endblock %}

