{% extends 'pages/public/base.html.twig' %}

{% block body %}
    <div class="d-flex align-items-center mt-4">
        <p class="titles font-weight-bold">{{ market.name}}</p>
        {% if is_granted('ROLE_ADMIN') %}
            <a class="ml-4" href="{{ path('updateObject', {"name":'marché','id': market.id }) }}">Editer</a>
        {% endif %}
    </div>

    <div class="my-3">
        <div class="row justify-content-between">
            <p class="col-md-6"><span class="font-weight-bold">Jour(s) :</span> {% for day in market.day  %} {{ day.name }},  {% endfor %}</p>
            <p class="col-md-6"><span class="font-weight-bold">Adresse :</span>  {{ market.track}} - {{ market.pc}} {{ market.city}} ({{ market.region}}) </p>
        </div>
        <p><span class="font-weight-bold">Horaires :</span> {{market.timeFrom}}h - {{ market.timeTo}}h </p>
    </div>

    <div class="mt-5 mb-3">
        <div class="d-flex align-items-center"><p style="font-size: 1.5em;">Liste des marchands </p>
            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
                <p><a href="{{ path('addNewObject', {"name":'stand','id':market.id }) }}" class="badge badge-primary ml-2">Ajouter un stand</a></p>
            {% endif %}
        </div>

        <table class="table border">
            <thead>
            <tr>
                <th scope="col">Nom de l'exposant</th>
                <th scope="col">Type de produits</th>
            </tr>
            </thead>

            <tbody>
            {% for onestand in market.stand  %}
                <tr>
                    <th> <a href="#">{{ onestand.name }}</a> </th>
                    <td>
                        {% for onetype in onestand.type  %}
                            {{ onetype.name }}
                        {% endfor %}

                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                            <a href="{{ path('addNewObject', {"name":'type','id':onestand.id }) }}" class="badge badge-primary ml-3">+</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>

    <div class="my-5">
        <div class="d-flex align-items-center">
            <p style="font-size: 1.5em;">Avis </p>
            {% if app.user %}
                <p><a href="{{ path('addNewObject', {"name":'comment','id':market.id }) }}" class="badge badge-primary ml-4">+</a></p>
            {% else %}
                <p><a class="ml-4 badge badge-primary" href= "{{ path('login')}}">+</a></p>
            {% endif %}

        </div>


        {% for comment in market.commentMarkets %}
            <div class="my-3">
                <div class="py-2 pl-3">
                    <div class="font-weight-bold">{{ comment.user.alias }}</div>
                    <small class="ml-2">{{ comment.notice }}</small>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block title %}
    {{ market.name }}
{% endblock %}

