{% extends 'pages/public/base.html.twig' %}
{% block title %}
Rechercher un marché
{% endblock %}


{% block body %}
    <h2>Recherches</h2>
<div class="p-2">
    {{ form_start(searchMarketForm , {'attr': {'class': 'd-flex col-12 align-items-center justify-content-between'  }}) }}

    <div class="form-group col pt-4">
        Quelle ville ?
        {{ form_widget(searchMarketForm.city) }}
    </div>

    <div class="form-button col ">
        Quels jour(s) ?
        {{ form_widget(searchMarketForm.day ) }}

    </div>

    <div class="form-group pt-5  ">
        {{ form_widget(searchMarketForm.rechercher) }}
    </div>

    {{ form_end(searchMarketForm) }}

</div>

    {% if app.request.method == 'POST' %}
        {% if markets |length > 0 %}
            <p class="font-italic">Résultats pour votre recherche</p>

            <table class="table table-hover ">
                <thead>
                <tr>
                    <th scope="col">Nom du marché</th>
                    <th scope="col">Horaires</th>
                    <th scope="col">Adresse</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th> </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for market in markets %}
                <tr>
                    <td>{{ market.name }}</td>
                    <td>{{ market.timeFrom }}H - {{ market.timeTo }}H </td>
                    <td>{{ market.track }} - {{ market.pc }} {{ market.city }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('deleteObject', {'id': market.id , "name":'market' }) }}">Supprimer</a> </td>
                    {% endif %}
                </tr>
                {% endfor %}

                </tbody>
            </table>

            {% else %}
                <p class="text-secondary" role="">
                    Aucun résultat(s) pour votre recherche
                </p>



        {% endif  %}
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('addNewObject', {"name":'market','id':app.user.id }) }}" class="badge badge-primary">Ajouter un marché inexistant</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="badge badge-primary">Ajouter un marché inexistant</a>
        {% endif %}

    {% endif %}

{% endblock %}



