{% extends 'pages/public/base.html.twig' %}
{% block title %}
Rechercher un marché
{% endblock %}


{% block body %}
    <p class="titles prata mt-5">Rechercher un marché près de chez vous</p>
    <p class="my-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <div class="mt-6 p-2 border rounded">
        {{ form_start(searchMarketForm , {'attr': {'class': ' row align-items-center justify-content-between'  }}) }}

        <div class="d-flex col-12">
            <div class="form-group col">
                <p class="fontSizeSearchForm">Quelle ville ?</p>
                {{ form_widget(searchMarketForm.city) }}
            </div>

            <div class="form-button col ">
                <p class="fontSizeSearchForm">Quels jour(s) ?</p>
                {{ form_widget(searchMarketForm.day ) }}
            </div>
        </div>

        <div class="col-12 form-group pt-2 ">
            {{ form_widget(searchMarketForm.rechercher , {'attr': {'class': 'w-100 py-3 '  }}) }}
        </div>

        {{ form_end(searchMarketForm) }}
    </div>

    {% if app.request.method == 'POST' %}
        {% if markets |length > 0 %}
            <p class="titles mt-5 ">Résultat(s)</p>

            <table class="table table-hover ">
                <thead>
                <tr>
                    <th scope="col">Nom du marché</th>
                    <th scope="col">Horaires</th>
                    <th scope="col">Adresse</th>
                    {% if is_granted('ROLE_ADMIN') %}
                        <th> </th>
                    {% endif %}
                </tr>
                </thead>
                <tbody>
                {% for market in markets %}
                <tr>
                    <td>{{ market.name }}</td>
                    <td>{{ market.timeFrom }}H - {{ market.timeTo }}H </td>
                    <td>{{ market.track }} - {{ market.pc }} {{ market.city }}</td>
                    {% if is_granted('ROLE_ADMIN') %}
                        <td><a href="{{ path('deleteObject', {'id': market.id , "name":'market' }) }}">Supprimer</a> </td>
                    {% endif %}
                </tr>
                {% endfor %}

                </tbody>
            </table>

            {% else %}
                <p class="text-secondary mt-4" role="">
                    Aucun résultat(s) pour votre recherche
                </p>



        {% endif  %}
        {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN') %}
            <a href="{{ path('addNewObject', {"name":'marché','id':app.user.id }) }}" class="badge badge-primary">Ajouter un marché inexistant</a>
        {% else %}
            <a href="{{ path('app_login') }}" class="badge badge-primary">Ajouter un marché inexistant</a>
        {% endif %}

    {% endif %}

{% endblock %}



